* {
    margin: 0px;
    padding: 40;
    box-sizing: border-box;
}
body {
	color: black;
	background-color: #f0f0f0;
	font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
input[type="submit"], input[type="reset"]{
    width: 110px;
    padding: 5px 13px;
    border: 1px solid black;
    color: black;
    text-shadow: 0 0 1px black;
    background: white;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus{
    background: #b0b0b0;
}
h2 {
	margin: 17px;
    text-align: center;
}
#nazwa{
	width: 300px;
	margin: 5px;
}
.numeryczne{
	width: 50px;
}
#num_dod{
	line-height: 30px;
}
#chck_dod{
	line-height: 30px;
}
#zdjecia{
	float: right;
	padding: 10px;
	border: 1px solid silver;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 2px silver;
    -moz-box-shadow: 0 0 2px silver;
    box-shadow: 0 0 2px silver;
	background-color: #4e73df;
	width: 69%;
	height: 100%;
	text-align:center;
}
.zdj{
	border: 1px solid silver;
	-webkit-box-shadow: 0 0 2px silver;
    -moz-box-shadow: 0 0 2px silver;
    box-shadow: 0 0 2px silver;
	margin: 5px;
}
#header_g {
	float: left;
	width: 100%;
    height: 75px;
    padding: 15px;
    background-color: #b0b0b0;
    letter-spacing: -1px;
	box-shadow: 5px 10px 10px #b0b0b0; 

}
ul{
	padding-left: 15%;
	text-align: left;
	display: flex;
    flex-direction: column;
}
li{
	padding: 10px;
	
}
a{
	color: #bdc5de;
	text-decoration: none;
}
a:hover{
	color: white;
}
#main {
	margin-top: 20px;
    float: left;
    padding: 15px;
	width: 100%;
    background-color: #f0f0f0;
    letter-spacing: -1px;
	display: inline-block;
	text-align: center;
}
#porownaj{
	float: right;
}
.wysw_g{
	border-radius: 5px;
	float: left;
	margin: 15px;
	height: 375px;
	width: 300px;
	background-color: #d3d3d3;
	text-align: left;
}
.btn-ed{
    border: 1px solid #005f85;
    color: black;
    text-shadow: 0 0 1px black;
    background: white;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	width: 50%;
}
.btn-rez{
	width: 67px;
	height: 25px;
	text-align: center;
	padding: 1px;
	border: 1px solid #005f85;
    color: black;
    text-shadow: 0 0 1px black;
    background: white;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	float: right;
}
.rezerw{
	margin: 5px;
	background-color: white;
	list-style-type: none;
	border: 1px solid silver;
	border-radius: 5px;
}
.szczeg_zdj{
	border-radius: 5px;
	margin: 10px;
	width: 25%;
}
img{
	border-radius: 5px;
}
.submt-btn{
	float: right;
}
.wysw_t{
	padding: 5px;
}